<div class="jumbotron">
  <h1>'Hello, 'Allo!</h1>
  <button type="button" name="button" ng-click="login()">FB Login </button>
  <button type="button" name="button" ng-click="getCurrentUser()">Get Current user </button>

  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    TIGER
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>
  {{awesomeThings}}
{{some}}
  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
